/* -------Загальні --------*/
:root {
    /* Кольори */
--background-primary: #f5f5f5;
--background-second: #F5F4FA;
--background-elements: #2F303A;
--color-primary: #757575;
--color-grey: #212121;
--color-black: #000000;
--color-blue: #2196f3;
--color-white: #ffffff;
}
 
*,
*::before,
*::after {
    box-sizing: border-box;
}

p, h1, h2, h3: {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border-radius: 4px;
}

address {
    font-style: normal;
}

.page {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    background-color: var(--background-primary);
    color: var(--color-primary);

    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.current {
    color: var(--color-blue);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    
    /* outline: 2px solid aquamarine; */
}

img {
    display: block;
}
/* -----Хедер --- */

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-black);
}

.logo .logo-decorate {
    color: var(--color-blue);
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 93px;
}

.container-nav-logo {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    gap: 50px;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-blue);
}

.contacts .contacts-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary)

}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-blue);
}

/* -------Секція хіро------*/

.hero {
    text-align: center;
    padding: 200px 0;

    background-color: var(--background-elements); 
}

.hero-title {
    color: var(--color-white);

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    max-width: 696px; 

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-button {
    background-color: var(--color-blue);
    color: var(--color-white);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    width: 216px;
    height: 50px;
}

/* -----Секція advantages-------*/

.container-advantages {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    padding: 94px 0;
}

.advantages .advantages-title {
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;

     color: var(--color-grey);
     text-transform: uppercase;
     margin: 0 auto;
     margin-bottom: 10px;
}

.advantages .advantages-note {
     line-height: 1.71;
}

.advantages-list {
    width: calc((100% - 90px)) / 4);
}

.advantages-note {
    margin: 0 auto;
}

-------Секція Duties------- */
.duties {
    margin: 0 auto;
    padding: 94px 0;
}

.duties-title {
    margin: 0 0 50px 0;

    color: var(--color-grey);
} 

.duties .duties-list {
    display: flex;
    gap: 30px;
}

/* -----Секція Team --------*/

.team {
    padding: 94px 0;
}

.container-team {
    padding: 94px 0;
    margin: 0 auto;
    background-color: var(--background-second);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--color-grey);
}

.team .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team .team-role {
    font-size: 16px;
    text-align: center;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-description {
    border: 1px;
    border-style:solid;
    border-color: #EEEEEE;
}

.footer {
    background-color: var(--background-elements);

    padding: 60px 0;
}

.footer-logo {
    color: var(--color-white);
    margin-bottom: 20px;
}

.address {
    font: inherit;
}

.address .post-address {
    font-size: 14px;
    color: var(--color-white);
    line-height: 1.46;
    letter-spacing: 0.03em;
}

.address-details {
    color: rgba(255, 255, 255, 0.6);
}

/* .buttons-list {
} */
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-grey);
    background-color: var(--background-second);
    text-align: center;

}

.button:hover,
.button:focus {
    color: var(--color-blue);
}

/* ----Секція Portfolio ------ */

.portfolio {
    padding: 94px 0;
}

.header-portfolio {
    border-color: transparent;
    border-bottom-color: #ECECEC;
    border-style:solid;
}

.container-projects {
    padding: 94px 0;
}

.buttons-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.button-portfolio {
    border: 0;
    background-color: var(--background-second);

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;

}


.button-portfolio:focus,
.button-portfolio:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.projects {
    display: flex;
    flex-wrap: wrap;
} 

.projects .projects-list {
    width: calc((100% - 60px)) / 3) 
    border: 1px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects .projects-list:nth-child(3n) {
    margin-right: 0;
}

.projects .projects-list:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.projects-title {
    color: var(--color-grey);

    font-weight: 700;
    font-size:18px;
    line-height: 1.71;
    letter-spacing: 00.06em;

    margin-bottom: 4px;
}

.projects-about {
    font-size: 16px;
    line-height: 1.6;
}

.projects .projects-description {
   padding: 20px 24px;
   border: 1px;
   border-style:solid;
   border-color: #EEEEEE;

   margin: 0 auto;
}
